@{
    Layout = "_Layout";
}
<h1>Sono la view per l'action Detail del CoursesController</h1>
    <footer>
        <p>Contattaci al numero ...</p>            <!-- footer>p>{Contattaci al numero...}    premi tab         -->
    </footer>