@{
    Layout = "_Layout";
}
<h1>Benvenuto su MyCourse</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus expedita saepe delectus facere recusandae, ad quas nobis sequi consequatur corrupti rem consequuntur accusantium voluptatibus id, sunt vero fugiat consectetur cumque?</p>
<p>Facere enim doloremque, exercitationem minus officiis quidem vitae, laborum voluptates maxime neque eaque commodi aspernatur iure consectetur rerum et ut, sed eveniet qui deleniti doloribus. Quibusdam illo fugiat sequi dicta.</p>
<p>Eum quasi rerum dolorem dolorum, inventore laboriosam corrupti ipsam magni ipsum quod nihil dignissimos, molestiae reprehenderit ex enim quidem magnam sunt! Dolores totam rerum quisquam quae. Illum quae ea excepturi!</p>
<p>Sit, quod nesciunt deleniti distinctio vero pariatur illo velit nemo nisi quo exercitationem neque labore tempora voluptates maxime, harum accusantium totam voluptas ullam necessitatibus? Fugit necessitatibus illo officia nobis accusantium.</p>
<p>Fugiat eum nam necessitatibus! Expedita unde at labore hic facere debitis sequi. Temporibus aliquam necessitatibus harum explicabo laudantium. Ipsam quas dolores, vitae sed unde assumenda deleniti cum quo quaerat obcaecati.</p>
                                                <!-- p*5>lorem    premi tab         -->